*{
    color : blue;
}
/* h1{
    color: red;
} */
#greet{
    color:red;

}
#lo.h2{
    background-color: blue;
}
.j{
    background-color: blueviolet;
}
p{
    text-align:center;
    text-decoration: line-through;
}
<!DOCTYPE html>
<html>
<head>
<style>
div {
  background-color: lightgrey;
  width: 70px;
  border: 2px solid green;
  padding: 50px;
  margin: 20px;
}
h1 {
  background-color: lightgrey;
  width: 90px;
  border: 2px solid green;
  padding: 40px;
  margin-top:-21%;
  margin-left: 230px;
  
  
  
}
</style>
</head>
<body>

<h2><center>Demonstrating the Box Model<br>
           software djfhkjdfnb
           sdfh;fk
<center></h2>

<div>dfjldf</div>
<h1>&nbsp</h1>



</body>
</html>



