*{
    color : blue;
}
/* h1{
    color: red;
} */
#greet{
    color:red;

}
#lo.h2{
    background-color: blue;
}
.j{
    background-color: blueviolet;
}
p{
    text-align:center;
    text-decoration: line-through;
}


